@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300&display=swap');

* {
    font-family: 'Mukta Malar', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    /*unidade vh(a altura do viewport), permitindo que o body defina o minimo de altura com base na altura total de viewport do usuário*/
}

:root {
    --background-clean: #488b29;
    --cor-da-empresa: white;
}



/* estilização do header - NAV */


.cabecalho {
    width: 100%;
    background-color: #488b29;
}

.menu {
    display: flex;
}

.barra .barra-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.barra-menu li {
    list-style: none;
    padding: 2rem;
    color: black;
}

.bi-geo-alt {
    font-size: 30px;
    color: var(--cor-da-empresa);
}

.nome-localizacao {
    font-size: 40px;
    padding-left: 0;
    padding-right: 5rem;
}



.bi-flower1 {
    font-size: 30px;
    color: var(--cor-da-empresa);
}


.bi-list {
    font-size: 30px;
    color: var(--cor-da-empresa);
}

.local {
    font-size: 25px;
    padding-left: 0;
    padding-right: 5rem;
    color: white;
}

section#produtos-carrinho {
    padding: 2rem;
    background-color: var(--cor-da-empresa);
}

/* Estilização da seção das mensagens */
.nome-carrinho {
    border: solid 1px var(--background-clean);
    border-radius: 2rem;
    display: flex;
    font-weight: 600;
    color: var(--background-clean);
    font-size: 30px;
    padding-top: .2rem;
    padding-left: 50rem;
    text-align: center;

}


/* Estilização da seção ícones do carrinho e volta */

.bi-chevron-double-left {
    color: var(--background-clean);
    font-size: 30px;
    padding-top: 4rem;
    padding-left: 2rem;
    position: absolute;


}


i.bi-cart-x {
    position: absolute;
    color: var(--background-clean);
    padding-top: .4rem;
    padding-left: 103rem;
    font-size: 30px;
}

/* Estilização da seção cards imagens */

section#cards-produtos {
    display: flex;
    align-content: center;
    justify-content: center;
}

.card-produto {
    display: flex;
    margin: 3rem;
    border-radius: 2rem;
    border: solid 1px var(--background-clean);
    justify-content: center;
    align-items: center;
    width: 15%;
    align-content: center;
}

.card-produto img {

    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}


/* Estilização texto/posição dos ícones */

div#nome-produto {
    display: flex;
    color: #488b29;
    font-size: 20px;
    align-items: center;
    font-weight: 600;
    text-align: center;

}

i.bi-plus-square {
    font-size: 35px;

}

i.bi-dash-square {
    font-size: 35px;



}

i.bi-trash {
    margin: auto;
    text-align: center;
    display: block;
    color: red;
    font-size: 35px;
    padding-top: 5rem;
    padding-right: 2rem;



}

.valor-unitario {
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 1.5rem;
    padding-left: 5rem;
    font-size: 35px;
}

/* Estilização da seção cupom/pagamento*/

section#desconto {
    display: flex;
    padding-top: .5rem;
    width: 90%;
    margin: auto;
    align-items: center;

}

.input-cupom {
    display: block;
    margin: auto;
    font-size: 18px;
    border: solid 1px var(--background-clean);
    border-radius: 2rem;
    width: 20%;
    left: 30rem;
    padding: 1.2rem 0 1.2rem;
    padding-left: 1rem;
    text-align: center;
    color: rgb(72, 160, 13)
}

.botao-aplicar {
    margin: auto;
    font-size: 18px;
    border: solid 1px var(--background-clean);
    border-radius: 2rem;
    width: 15%;
    padding: 1.2rem 0 1.2rem;
    padding-left: 1rem;
    text-align: center;
    color: rgb(72, 160, 13)
}

/* Estilização da seção desconto/pagamento*/

#titulo-total {
    display: block;
    font-weight: 600;
    font-size: 25px;
    color: grey;
    text-align: center;
    padding-left: 58rem;
    margin: auto;
}

#titulo-frete {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: grey;
    text-align: center;
    padding-left: 60rem;
    margin: auto;
}

#pagamento {
    display: block;
    margin: auto;
    font-size: 18px;
    border: solid 1px var(--background-clean);
    border-radius: 2rem;
    width: 25%;
    padding: 1.2rem 0 1.2rem;
    padding-left: 3rem;
    text-align: center;
    color: rgb(72, 160, 13)
}

/*Estilização FOOTER */

.footer {
    background-color: var(--background-clean);
    margin-top: 5rem;
}


.footer-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-card a {
    text-decoration: none;
    text-align: center;

}

.footer-card li {
    list-style: none;
}

.footer-item {
    margin: 5rem;
    text-align: center;

}

i.bi-house-door-fill {
    font-size: 35px;
    color: var(--cor-da-empresa);

}

.footer-nome-item {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}

i.bi-emoji-smile {
    font-size: 35px;
    color: var(--cor-da-empresa);

}

.footer-nome-perfil {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}

i.bi-receipt {
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: var(--cor-da-empresa);

}

.footer-nome-cupons {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa);
    margin: auto;
    text-align: center;

}

i.bi-stickies {
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: var(--cor-da-empresa);

}

.footer-nome-pedidos {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa);
    margin: auto;
    text-align: center;

}