@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300&display=swap');

* {
    font-family: 'Mukta Malar', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    /*unidade vh(a altura do viewport), permitindo que o body defina o minimo de altura com base na altura total de viewport do usuário*/
}

:root {
    --background-clean: #488b29;
    --cor-da-empresa: white;
}

/* estilização do header - NAV */

.cabecalho {
    width: 100%;
    background-color: #488b29;
}

.menu {
    display: flex;
}

.barra .barra-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.barra-menu li {
    list-style: none;
    padding: 2rem;
    color: black;
}

.bi-file-person {
    font-size: 30px;
    color: var(--cor-da-empresa);

}

ul li#imagem-localizacao {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 0;
    padding-left: 3rem;
    margin-right: .2rem;
}

.bi-geo-alt {
    font-size: 30px;
    color: var(--cor-da-empresa);

    .nome-localizacao {
        font-size: 40px;
        padding-left: 0;
        padding-right: 5rem;
    }

}

.bi-flower1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 2.8rem;
    font-size: 30px;
    color: var(--cor-da-empresa);
}

.local {
    font-size: 20px;
    padding-left: 1.3rem;
    padding-right: 3rem;
    color: white;
}


/* Estilização da seção das mensagens */

section#mensagens-inicio {
    padding: 2rem;
    background-color: var(--background-clean);




}

#nome-empresa {
    font-style: bold;
    font-size: 50px;
    color: var(--cor-da-empresa);
    margin-bottom: .5rem;

}

.mensagem {
    color: var(--cor-da-empresa);
    font-size: 25px;

}

/* Estilização da seção INPUT */


section#input {
    display: flex;
    padding-top: .5rem;
    width: 90%;
    margin: auto;
    align-items: center;
}

i.bi-search {
    position: absolute;
    color: var(--background-clean);
    padding-top: .2rem;
    padding-left: 3rem;
    font-size: 30px;

}

#input-text[type=text] {
    width: 90%;
    margin: auto;
    font-size: 18px;
    border: solid 2px var(--background-clean);
    border-radius: 2rem;
    width: 100%;
    padding: 1.2rem 0 1.2rem;
    padding-left: 7rem;
    text-align: center;
    color: grey
}

/* Estilização da seção CATEGORIA */

section#categorias {
    display: flex;
    justify-content: space-around;

}

#categoria-ul {
    display: flex;
    justify-content: center;



}

.categoria-a {
    margin: 3rem 5rem;
    text-decoration: none;
    justify-content: center;

}

li.categoria {
    margin: auto;


}

.categoria {
    color: var(--background-clean);
    list-style: none;
    border: solid 2px var(--background-clean);
    border-radius: 2rem;
    width: 120%;
    padding: .5rem;
    font-weight: 500;
    text-align: center;
    color: var(--background-clean);
    transition: transform 0.08s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
}

.categoria:hover {
    background-color: #f3efef;

    transform: scale(1.1);


}

*/ input:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: #488b29;
}


/* Estilização da seção PRODUTOS */

section#cards-produtos {
    display: flex;
}

.card-produto {
    display: block;
    margin: 6rem;
    border-radius: 2rem;
    border: solid 3px var(--background-clean);
    justify-content: center;
    align-items: center;
    width: 25%;
    align-content: center;
}


.card-produto img {
    display: block;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

h3.nome-do-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    color: var(--background-clean);
    margin-top: .2rem;
    margin-bottom: 1.3rem;
}

/* Estilização do VERMAIS */


div#ver-mais {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin-right: 5rem;
    margin-bottom: 5rem;

}

div#ver-mais a {
    color: var(--background-clean);
    text-decoration: none;
    margin: .8rem 2rem;
}


/*Estilização AVALIAÇÃO */


section#avaliacao {
    text-align: center;
    border: .1rem solid var(--background-clean);
    border-radius: 2rem;
    margin: auto;

    padding: 1rem;
    width: 50%;
    justify-content: center;
    align-items: center;
    font: bold 1rem sans-serif;

}

#titulo-avaliacao {
    font-size: 25px;
    color: var(--background-clean);

}

#frase-avaliacao {
    font-size: 18px;
    color: grey;
    padding: 1.2rem;
    margin: auto;

}

.bi-hand-thumbs-down {
    font-size: 30px;
    color: var(--background-clean);
}

.bi-hand-thumbs-up {
    font-size: 30px;
    color: var(--background-clean);

}






/*Estilização FOOTER */

.footer {
    background-color: var(--background-clean);
    margin-top: 5rem;
}

.footer-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-card a {
    text-decoration: none;
    text-align: center;

}

.footer-card li {
    list-style: none;
}

.footer-item {
    margin: 5rem;
    text-align: center;

}

i.bi-house-door-fill {
    font-size: 35px;
    color: var(--cor-da-empresa);

}

i.bi-person {
    font-size: 35px;
    color: var(--cor-da-empresa);
}

i.bi-receipt {
    font-size: 35px;
    color: var(--cor-da-empresa);
}

i.bi-cart {
    font-size: 35px;
    color: var(--cor-da-empresa);
}

i.bi-stickies {
    font-size: 35px;
    color: var(--cor-da-empresa);

}

.footer-nome-item {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}

/* usando media queries para transformar nossa page acessível a telas menores */

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    header {
        display: flex;
    }

    i.bi-geo-alt,
    .nome-localizacao,
    i.bi .bi-flower1 {
        display: none;
    }

    ul.footer-card {
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .footer-card a {
        width: 100%;

    }

    i.bi-search {
        position: absolute;
        margin-right: 3rem;
        padding-left: 2rem;
    }

    #categoria-ul {
        flex-wrap: wrap;
    }

    #cards-produtos {
        flex-wrap: wrap;

    }

    div.card-produto {
        width: 100%;
    }

    span#frase-avalicao {
        display: none;
    }
}

;