@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300&display=swap');

* {
    font-family: 'Mukta Malar', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/*body estilização */

body {
    min-height: 100vh;
    /*unidade vh(a altura do viewport), permitindo que o body defina o minimo de altura com base na altura total de viewport do usuário*/
}

/*padronização cores*/

:root {
    --background-clean: #488b29;
    --cor-da-empresa: white;
}



/* estilização do header - NAV */

.cabecalho {
    width: 100%;
    background-color: #488b29;
}

.menu {
    display: flex;
}

.barra .barra-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.barra-menu li {
    list-style: none;
    padding: 2rem;
    color: black;
}


ul li#imagem-localizacao {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 0;
    padding-left: 3rem;
    margin-right: .2rem;
}

.bi-geo-alt {
    font-size: 30px;
    color: var(--cor-da-empresa);
}


.nome-localizacao {
    font-size: 40px;
    padding-left: 0;
    padding-right: 5rem;
}



li .bi-list {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 2.8rem;
    font-size: 30px;
    color: var(--cor-da-empresa);
}



.local {
    font-size: 20px;
    padding-left: 1.3rem;
    padding-right: 3rem;
    color: white;
}

li .bi-file-person {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 2.8rem;
    font-size: 30px;
    color: var(--cor-da-empresa);
}


/* Estilização da seção das mensagens */

section#mensagens-inicio {
    padding: 2rem;
    background-color: var(--background-clean);




}

#nome-login {
    top: 1.5rem;
    margin: auto;
    position: relative;
    left: 2rem;
    width: 15%;
    justify-content: center;
    border-radius: 2rem;
    border: solid 1px var(--background-clean);
    display: flex;
    color: var(--background-clean);
    font-size: 25px;

}


/*Estilização seção login */


img {
    left: 2rem;
    position: relative;
    top: 2rem;
    margin: auto;
    display: flex;
    height: 185px;
    width: 185px;
}

#meuInput[type=text] {
    top: 2rem;
    margin: auto;
    font-size: 16px;
    border: solid 1px var(--background-clean);
    border-radius: 2rem;
    width: 12%;
    display: flex;
    position: relative;
    left: 2rem;
    text-align: center;
    color: var(--background-clean)
}

#meuInputPassword[type=password] {
    top: 3rem;
    margin: auto;
    font-size: 16px;
    border: solid 1px var(--background-clean);
    border-radius: 2rem;
    width: 12%;
    display: flex;
    position: relative;
    left: 2rem;
    text-align: center;
    color: var(--background-clean)
}

h1 {
    font-weight: 200;
    color: var(--background-clean);
    top: 1.5rem;
    left: 51.5rem;
    position: relative;
    display: flex;
    margin: auto;
    font-size: 16px;
    font-family: 'Mukta Malar', Arial, Helvetica, sans-serif;
}

p.senha-usuario {
    top: 2.8rem;
    left: 51.5rem;
    position: relative;
    display: flex;
    font-size: 16px;
    font-weight: 200;
    margin: auto;
    color: var(--background-clean);
}

button.input-login {
    font-weight: 600;
    justify-content: center;
    top: 4rem;
    margin: auto;
    font-size: 16px;
    border: solid 1px var(--background-clean);
    border-radius: 2rem;
    width: 10%;
    display: flex;
    position: relative;
    left: 2rem;
    text-align: center;
    color: var(--background-clean)
}

/*Estilização FOOTER */


.footer {
    background-color: var(--background-clean);
    margin-top: 5rem;
    height: 450px;
}

.footer-card a {
    text-decoration: none;
    text-align: center;

}

.footer-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
.footer-card li {
    list-style: none;
}


.footer-item li {
    margin: 5rem;
    text-align: center;

}

.bi-house-door-fill {
    font-size: 35px;
    color: var(--cor-da-empresa);

}

.footer-nome-item {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}


i.bi-emoji-smile {
    font-size: 35px;
    color: var(--cor-da-empresa);
}

p.footer-nome-perfil {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}

i.bi-receipt {
    font-size: 35px;
    color: var(--cor-da-empresa);
}

p.footer-nome-cupons {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}

p.footer-nome-pedidos {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}

i.bi-stickies {
    font-size: 35px;
    color: var(--cor-da-empresa);

}






/* usando media queries para transformar nossa page acessível a telas menores */

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    header {
        display: flex;
    }

    i.bi-geo-alt,
    .nome-localizacao,
    i.bi .bi-flower1 {
        display: none;
    }

    ul.footer-card {
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .footer-card a {
        width: 100%;

    }

    i.bi-search {
        position: absolute;
        margin-right: 3rem;
        padding-left: 2rem;
    }

    #categoria-ul {
        flex-wrap: wrap;
    }

    #cards-produtos {
        flex-wrap: wrap;

    }

    div.card-produto {
        width: 100%;
    }

    span#frase-avalicao {
        display: none;
    }
}

;

/*seção de inserção do HTML */

/*ele não tá acessando o estilo aqui no css */

.card-teste{
    
    position: absolute;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 50%;
    background-color:#488b29;
    border: grey 2px solid;
    border-radius: 2rem;
    z-index: 999;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}

