@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300&display=swap');

* {
    font-family: 'Mukta Malar', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    /*unidade vh(a altura do viewport), permitindo que o body defina o minimo de altura com base na altura total de viewport do usuário*/
}

:root {
    --background-clean: #488b29;
    --cor-da-empresa: white;
}

/* estilização do header - NAV */

.cabecalho {
    width: 100%;
    background-color: #488b29;
}

.menu {
    display: flex;
}

.barra .barra-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.barra-menu li {
    list-style: none;
    padding: 2rem;
    color: black;
}

.bi-list {
    font-size: 30px;
    color: var(--cor-da-empresa);

}

ul li#imagem-localizacao {
    display: flex;
    padding-right: 0;
    padding-left: 5rem;
    margin-right: .8rem;
}

.bi-geo-alt {
    font-size: 30px;
    color: var(--cor-da-empresa);

    .nome-localizacao {
        font-size: 40px;
        padding-left: 0;
        padding-right: 5rem;
    }
}

.bi-flower1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 2.8rem;
    font-size: 30px;
    color: var(--cor-da-empresa);
}


.local {
    font-size: 20px;
    padding-left: 2.8rem;
    padding-right: 3rem;
    color: white;
}

/* Estilização da seção ícones do voltar/coração */

.bi-chevron-double-left {
    color: var(--background-clean);
    font-size: 30px;
    padding-top: 4rem;
    padding-left: 2rem;
    position: absolute;
}

.bi-heart-fill {
    position: absolute;
    color: var(--background-clean);
    padding-top: 4rem;
    padding-left: 43rem;
    font-size: 30px;
}

/* Estilização da seção card produto*/

section#cards-produtos {
    display: flex;
    align-content: center;
    justify-content: center;
}

.card-produto {
    justify-content: center;
    display: flex;
    margin: 2rem;
    border-radius: 2rem;
    border: solid 1px var(--background-clean);


    width: 30%;

}

.card-produto img {

    display: flex;
    padding-top: 2rem;
    width: 90%;
    margin: auto;

}


/*estilizacao texto */
.titulo-produto {
    font-size: 18px;
    font-weight: 600;
    padding-top: 4rem;
    color: var(--background-clean);
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 3rem;

}

.titulo {
    color: gray;
    text-align: justify;
    font-family: 'Mukta Malar', Arial, Helvetica, sans-serif;
    margin: auto;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

/* Estilização posição dos ícones */
i.bi-plus-square {
    margin: auto;
    display: flex;
    padding-bottom: .8rem;
    padding-right: 8rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--background-clean);
    font-size: 28px;

}

i.bi-dash-square {
    margin: auto;
    position: relative;
    color: var(--background-clean);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
    padding-bottom: 1rem;
}

.quantidade {
    padding-left: 4rem;
    padding-bottom: .8rem;
    display: flex;
    position: absolute;
    font-size: 28px;
    font-weight: 600;
    color: var(--background-clean);
}

/* Estilização preço unitário/total */

div.quadro-preco {
    width: 25%;
    border-radius: 2rem;
    border: solid 1px var(--background-clean);
    color: var(--background-clean);
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    margin: auto;
}

.valor-unitario {
    justify-content: center;
    font-size: 18px;
    color: grey;
    display: flex;
    justify-content: center;
}

.valor-total {
    justify-content: center;
    font-size: 18px;
    color: grey;
    display: flex;
    justify-content: center;
}

/* Estilização carrinho */

i.bi-cart-plus {
    margin: auto;
    top: 10rem;
    left: 106rem;
    position: absolute;
    color: var(--background-clean);
    font-size: 42px;
    display: flex;

}

/* Estilização botão adicionar */

.carrinho {
    bottom: 15rem;
    left: 79rem;
    position: relative;
    margin: auto;
    font-size: 15px;
    border: solid 1px var(--background-clean);
    border-radius: 2rem;
    width: 20%;
    padding: 1.2rem 2rem 1.2rem;
    text-align: center;
    color: rgb(72, 160, 13);

}

/*Estilização FOOTER */

.footer {
    background-color: var(--background-clean);
    margin-top: 5rem;
}

.footer-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-card a {
    text-decoration: none;
    text-align: center;

}


.footer-card li {
    list-style: none;
}

.footer-item {
    margin: 5rem;
    text-align: center;

}

i.bi-house-door-fill {
    font-size: 35px;
    color: var(--cor-da-empresa);

}

.footer-nome-item {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}

i.bi-emoji-smile {
    font-size: 35px;
    color: var(--cor-da-empresa);

}

.footer-nome-perfil {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}

i.bi-receipt {
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 35px;
    color: var(--cor-da-empresa);
}

.footer-nome-cupons {
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa)
}

i.bi-stickies {
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 35px;
    color: var(--cor-da-empresa);
}

.footer-pedidos {
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-da-empresa);
}